:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  overflow: hidden;
}

body,
.app,
.slide__container,
.slide {
  width: 100vw;
  height: 100vh;
}

.slide__container .slide {
  position: absolute;
  transition: 1s ease-in-out;
}

.slide__container .slide.active,
.slide__container .slide.slide.previous_active {
  z-index: 1;
}

.slide__container--forward .slide {
  transform: translateX(100%);
}

.slide__container--backward .slide {
  transform: translateX(-100%);
}

.slide__container--forward .slide.active {
  transform: translate(0%);
}

.slide__container--forward .slide.previous_active {
  transform: translate(-100%);
}

.slide__container--backward .slide.active {
  transform: translate(0%);
}

.slide__container--backward .slide.previous_active {
  transform: translate(100%);
}

ion-icon {
  font-size: 4em;
}

#next,
#prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.5;
}

#next {
  right: 0;
}

#prev {
  left: 0;
}

#next:hover,
#next:focus,
#prev:hover,
#prev:focus {
  outline: 3px solid #7fff66ad;
  opacity: 1;
}

#next:disabled,
#prev:disabled {
  outline: none !important;
  opacity: 0.5 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
